 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>djangoprojet</title>
 </head>
 <body>
       <h1>web developper</h1>
       <div>
            <h1>Login </h1>
            <form>
                 <label for="">username</label>
                 <input type="text" name="username"><br/>
                 <label for="">Email</label>
                 <input type="text" name="username"><br/>
                 <label for="">Password</label>
                 <input type="text" name="username">
                  
            </form>
       </div>
 </body>
 </html>